<div
  *ngIf="dataLoaded == false"
  class="spinner-grow"
  style="width: 3rem; height: 3rem"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<header style="text-align: center; font-weight: bold; background-color: darkgray;">Müşteri</header>
<table *ngIf="dataLoaded == true" class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>UserId</th>
      <th>CompanyName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.userId }}</td>
      <td>{{ customer.companyName }}</td>
    </tr>
  </tbody>
</table>
